{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    {#Bootstrap CSS#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {#Chartjs#}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    {#Bootstrap JS Bundle#}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}



    <div class="h-100 d-flex align-items-center justify-content-center" id="align-middle">
        <div class="row">
            <div class="col-12">
                <div class="col-12">
                    {{ form_start(humeurDescriptionForm) }}
                        <div class="d-flex justify-content-center">
                            {{ form_label(humeurDescriptionForm.description, 'Describe your day or experience 🥺 (facultative)', {'label_attr': {'id': 'description_label', 'class': 'mt-5 mb-2'}}) }}
                        </div>
                        {{ form_row(humeurDescriptionForm.description) }}
                        
                    {{ form_end(humeurDescriptionForm, {render_rest: false}) }}
                </div>
                <div class="d-flex flex-row bg-info mt-4">
                    {% for humeurType in humeurTypes %}
                        <img data-id="{{ humeurType.id }}" class="emoji_face" src="{{ asset('img/') }}{{ humeurType.image }}" alt="{{ humeurType.libelle }}">
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="humeur_button" id="skip_button">SKIP</button>
                </div>
            </div>
        </div>
    </div>
        
    <canvas id="myChart" width="800" height="400"></canvas>

    <script>
        $(".emoji_face").click(function(event) {
            $.ajax({
                method: "POST",
                url: "{{ path('todaysMood') }}",
                data: { id: event.currentTarget.getAttribute('data-id'), description: $("#humeur_description_description").val() }
            })
            .done(function(returnData) {
                //On supprime le choix
                $('#align-middle').empty();
                $('#align-middle').append('<h2 class="mt-5 mb-4">Mood evolution throughout the year</h2>');

                //Génère le chart dès qu'on a reçu les données
                generateGraph(returnData)//TODO retourner les data qu'il faut bien c'est à dire toutes les humeurs de l'utilisateur pour l'année, avec le humeurlevel
            });
        });
        $("#skip_button").click(function(event) {
            $.ajax({
                method: "POST",
                url: "{{ path('todaysMood') }}",
                data: {}
            })
            .done(function(returnData) {
                console.log(returnData)
                //On supprime le choix
                $('#align-middle').empty();
                $('#align-middle').append('<h2 class="mt-5 mb-4">Mood evolution throughout the year</h2>');

                //Génère le chart dès qu'on a reçu les données
                generateGraph(returnData)//TODO retourner les data qu'il faut bien c'est à dire toutes les humeurs de l'utilisateur pour l'année, avec le humeurlevel
            });
        });
    </script>

    <script>
    //TODO eventuellement trouver comment afficher la description quelque part
        /*Fonction qui va générer le gradient https://www.chartjs.org/docs/3.1.0/samples/advanced/linear-gradient.html*/
        let width, height, gradient;
        function getGradient(ctx, chartArea) {
            const chartWidth = chartArea.right - chartArea.left;
            const chartHeight = chartArea.bottom - chartArea.top;
            if (gradient === null || width !== chartWidth || height !== chartHeight) {
                // Create the gradient because this is either the first render
                // or the size of the chart has changed
                width = chartWidth;
                height = chartHeight;
                gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
                gradient.addColorStop(0.2, 'rgb(247, 67, 94)');
                gradient.addColorStop(0.4, 'rgb(255, 144, 44)');
                gradient.addColorStop(0.6, 'rgb(254, 224, 32)');
                gradient.addColorStop(0.8, 'rgb(130, 214, 57)');
                gradient.addColorStop(1, 'rgb(13, 201, 148)');
            }

            return gradient;
        }

        function generateGraph(dataReturned)
        {
            //Récupère la date minimum de l'année courante (1 janvier)
            var minYearDate = new Date(new Date().getFullYear(), 0, 1);
            //Récupère la date maximum de l'année courante (31 décembre)
            var maxYearDate = new Date(new Date().getFullYear(), 11, 31);

            var data = [];

            dataReturned.forEach(function(humeur){
                data.push({x: humeur['created_at'], y: humeur['humeurType']['hapinessLevel']})
            });

            const ctx = document.getElementById('myChart').getContext('2d');
            let chart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        //Toutes nos données, avec l'heure et la date, plus le hapiness level
                        data:data,
                        //Nom de la ligne
                        label: 'Hapiness level',
                        //couleur du background
                        backgroundColor: 'rgb(255, 99, 132)',
                        //couleur de la ligne
                        borderColor: function(context) {
                            const chart = context.chart;
                            const {ctx, chartArea} = chart;

                            if (!chartArea) {
                            // This case happens on initial chart load
                            return null;
                            }
                            return getGradient(ctx, chartArea);
                        },
                    }],
                },
                options: {
                    plugins: {
                        legend: {
                            display: true,
                            labels: {
                                color: 'rgb(255, 99, 132)',
                                boxWidth:30
                            }
                        }
                    },
                    //On met le graphe en responsive
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        x: {
                            //On indique que x est une date
                            type: 'time',
                            //Vu que c'est tous les mois on commence par un début de mois ex: 2021-01-01 00:00:00
                            min: minYearDate,
                            max: maxYearDate,
                            //2021-01-01 00:00:00
                            //On affiche en bas par mois
                            time: {
                                    parser: 'YYYY-MM-DD',
                                    unit: 'month',//Ou day, year, etc
                                    tooltipFormat: 'DD/MM/YY',//Format affiché quand on passe sur un point
                                    displayFormats: {
                                    //Format affiché pour chaque mois
                                        month: 'MM/YY',
                                    },
                            },
                            //ticks
                            //On n'affiche pas les jours sinon ça met un gros pavé (mettre à true pour voir)
                            display: true
                        }
                    }
                }
            });
        }
        
    </script>
{% endblock %}
