{% extends 'base.html.twig' %}

{% block title %}Hello MyDayPostController!{% endblock %}

{% block body %}

<div class="card text-center mt-5">
  <div class="card-header">
    Crée par {{ post.user.email }} le {{ post.createdAt|date('d-m-Y') }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.description }}</p>

    {% if post.user.id == app.user.id %}
        <a href="{{ path('my_day_post_edit', {id: post.id}) }}" class="btn btn-primary">Edit</a>
        {% include '/my_day_post/delete.html.twig' %}
    {% endif %}
  </div>
</div>

 
</div>
{% endblock %}
